<nav class="navbar-main">
    <ul class="space-y-3">
        <li>
            <a href="/"
               hx-push-url="/"
               hx-get="/"
               hx-target="main"
               hx-swap="outerHTML"
               class="navbar-main-opt">Home</a>
        </li>
        <li>
            <a href="/addmovies"
               hx-push-url="/addmovies"
               hx-get="/addmovies"
               hx-target="main"
               hx-swap="outerHTML"
               class="navbar-main-opt">Add Movie</a>
        </li>
        <li>
            <a href="/viewmovies"
               hx-push-url="/viewmovies"
               hx-get="/viewmovies"
               hx-target="main"
               hx-swap="outerHTML"
               class="navbar-main-opt">View Movies</a>
        </li>
    </ul>
</nav>